body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    background-color: #0D1117;    
    color: #C9D1D9; 
}

a { 
    color: #FF4081; 
}

a:visited {
    color: #FF4081; 
}

a:hover {
    color: #40E0D0; 
}

.container {
    font-size: 20px;
}

.h2-link {
    color: #4493F8;
    text-decoration: none;

}

.h2-link:visited {
    color: #4493F8;
    text-decoration: none;

}

.h2-link:hover {
    color: #4493F8;
    text-decoration: underline;
}