body {
    font-family: monospace;
    display: flex;
    justify-content: center;
}

a { 
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.container {
    font-size: 18px;
}